[user]
	name = xeff09
	email = wongchaita03@gmail.com

[init]
  defaultBranch = main

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[merge]
  conflictStyle = diff3

[diff]
  colorMoved = default
